.smile-1 {
  background-color: blue;
  border-color: black;
  border-width: 3px;
  text-align:center;
}
.smile-2 {
  background-color: orangered;
  border-color: black;
  border-width: 3px;
  text-align: center;
}